* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* shared */
.font-open-sents {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.container {
  margin: 0 auto;
  width: 1600px;
}
.display {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  padding: 18px 36px;
  background-color: #fd6e0a;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
/* navber */
nav {
  padding: 51px 230px 0;
}
.logo h2 {
  font-size: 45px;
}
nav ul li {
  list-style: none;
}
nav ul {
  display: flex;
  gap: 51px;
}
nav ul li a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
}
.logo-colour {
  color: #fd6e0a;
}
/* hero */
.hero-content {
  width: 71%;
  padding-left: 230px;
  padding-right: 38px;
}
.hero-text h2 {
  color: #757575;
  font-weight: 600px;
  font-size: 45px;
}
.hero-text h1 {
  width: 498px;
  font-weight: bold;
  font-size: 85px;
  margin-bottom: 20px;
}
.hero-text p {
  width: 558px;
  color: #757575;
  margin-bottom: 30px;
}
.btn-gap {
  margin-right: 30px;
}
.hero-pic {
  padding-left: 180px;
}
.hero-pic img {
  width: 584px;
  vertical-align: bottom;
}
header {
  background-color: #fff8f3;
  background-image: url("../images/developer.png"),
    url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top 15px left 23px, bottom right;
}
/* about */
.about {
  width: 71%;
  margin: 130px auto;
  background-color: #fff8f3;
  border-radius: 5px;
}
.about-content {
  text-align: center;
  padding: 131px 156px;
}
.about-info {
  width: 782px;
  margin: 0 auto;
}
.about-content h3 {
  font-weight: bold;
  font-size: 35px;
  color: #181818;
  margin-bottom: 30px;
}
.about-content p {
  font-size: 18px;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;
}
/* what i do */
.what-i-do {
  max-width: 71%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 130px;
}
.what-i-do h3 {
  font-weight: bold;
  font-size: 35px;
  color: #181818;
  margin-bottom: 30px;
}
.what-i-do-content .pera {
  width: 827px;
  font-size: 18px;
  color: #757575;
  line-height: 30px;
  margin-bottom: 50px;
  margin: 0 auto;
}
.what-i-do-cart {
  text-align: left;
  gap: 24px;
  margin-top: 50px;
}
.what-i-do-cart .js {
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
  padding: 30px 33px;
}
.what-i-do-cart .js h4 {
  font-weight: bold;
  color: #181818;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 30px;
}
.what-i-do-cart .js p {
  font-size: 16px;
  line-height: 28px;
  width: 204px;
  color: #757575;
}

.what-i-do-cart .react {
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
  padding: 30px 33px;
}
.what-i-do-cart .react h4 {
  font-weight: bold;
  color: #181818;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 30px;
}
.what-i-do-cart .react p {
  font-size: 16px;
  line-height: 28px;
  width: 204px;
  color: #757575;
}

.what-i-do-cart .Node-js {
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
  padding: 30px 33px;
}
.what-i-do-cart .Node-js h4 {
  font-weight: bold;
  color: #181818;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 30px;
}
.what-i-do-cart .Node-js p {
  font-size: 16px;
  line-height: 28px;
  width: 204px;
  color: #757575;
}

.what-i-do-cart .MongoDB {
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
  padding: 30px 33px;
}
.what-i-do-cart .MongoDB h4 {
  font-weight: bold;
  color: #181818;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 30px;
}
.what-i-do-cart .MongoDB p {
  font-size: 16px;
  line-height: 28px;
  width: 204px;
  color: #757575;
}
/* resume */
.resume {
  max-width: 71%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 113px;
}
.resume h3 {
  font-weight: bold;
  font-size: 35px;
  color: #181818;
  margin-bottom: 113px;
}
.ex-edu {
  text-align: left;
  gap: 24px;
  padding-bottom: 20px;
}
.ex-edu .education h5,
.ex-edu .experience h5 {
  font-weight: bold;
  color: #181818;
  font-size: 30px;
  margin-bottom: 30px;
}
.ex-edu h6 {
  font-weight: bold;
  color: #181818;
  font-size: 25px;
  margin-bottom: 10px;
}
.ex-edu .m1 {
  font-size: 20px;
  font-weight: 600px;
  color: #757575;
  margin-bottom: 20px;
}
.ex-edu p {
  font-size: 20px;
  color: #757575;
  margin-bottom: 30px;
}
hr {
  margin-bottom: 30px;
}
